/* Styles for the general layout */

body {
	background-color: #ccc;
	padding: .5ex .5em;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	background-color: white;
	margin: 0;
	border-radius: .5em .5em 0 0;
	padding: .5ex 2em;
	text-align: center;
	border: 1px solid #999;
}

#menu {
	margin: 0;
	padding: 0;
	width: 10em;
	float: left;
	list-style-type: none;
	display: inline-block;
}

#menu li {	
	background-color: #999;
	padding: .5ex .5em;
	border-radius: .5em 0 0 .5em;
	text-align: right;
	font-weight: bold;
	border: 1px solid #999;
	border-right: none;
	margin: 3ex 0 0 0;
	cursor: pointer;
}

#menu li + li {
	margin-top: .5ex;
}

#menu li.selected {	
	background-color: white;
}

#contents {
	background-color: white;
	margin: 0 0 0 10em;
	border: 1px solid #999;
	border-top-color: white;
	padding: 1ex 1em;
	overflow: auto;
	border-radius: 0 0 .5em 0;
	min-height: 10ex;
}

/* Styles for objects */

.model {
	display: none;
}

#add .bookmark, #add .tag {
	display: none;
	margin-top: 2ex;
}

#add .bookmark.selected, #add .tag.selected {
	display: block;
}

.item {
	border: 1px solid #ccc;
	border-radius: .3em;
	margin: .5ex 0;
	padding: .5ex .5em;
	cursor: pointer;
}

.item.selected {
	font-size: 110%;
	border-color: #c90;
}

.item h2 {
	display: inline-block;
	width: 50%;
	font-size: 100%;
	margin: 0;
}

.item .description {
	font-size: 90%;
	font-style: italic;
}

.item .tags {
	list-style-type: none;
	padding: 0;
}

.item .tags li {
	display: inline-block;
	background-color: #ccc;
	border-radius: .3em;
	padding: .2ex .2em;
	font-size: 90%;
	margin: 0 1em .3ex 0;
}